

.customNode {
  border: 1px solid #555;
  /* background-color: red; */
  padding: 8px;
  width: 100px;
  border-radius: 30px;
}
.dot {
  width: 1px;
  height: 1px;
}
.customNeutral {
  border: 1px solid white;
  font-size: 10px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  padding: 8px;
  width: 100px;
  height: 36px;
  border-radius: 30px;
}
.customAreaNode {
  border: 1px solid white;
  font-size: 10px;
  background-color: #5DADE2;
  padding: 8px;
  width: 100px;
  height: 36px;
  border-radius: 30px;
}
.customGood {
  border: 1px solid white;
  /* font-size: 20px; */
  background-color: #bef264;
  padding: 0px 12px;
  width: max-content;
  border-radius: 30px;
}
.customRegular {
  border: 1px solid white;
  /* font-size: 20px; */
  background-color: #fef08a;
  padding: 0px 12px;
  width: max-content;
  border-radius: 30px;
}
.customBad {
  border: 1px solid white;
  /* font-size: 20px; */
  background-color: #fda4af;
  padding: 0px 12px;
  width: max-content;
  border-radius: 30px;
}

